{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}
{{obj.name}}
{% endblock title %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}



{% block content %}
<main id="main" class="main-dark">

  <div class="pagetitle">
    {% comment %} <h1>Progress</h1> {% endcomment %}

  
    
  </div><!-- End Page Title -->

<div class="container">
    <div class="card">
      <div class="card-body">
        
        <div class="row">
          <div class="col"><h1 class="card-title">{{obj.name}}</h1>
            <p>score to pass: {{obj.score_to_pass}}%</p></div>
          <div class="col" style="text-align:right;" id="timer-box"><h2></h2></div>
        </div>

        <a href="{% url 'quiz:main' %}" class="btn btn-danger">Go back</a>   

        <!-- Vertical Form -->
        <form id="quiz-form" class="row g-3" >
            {% csrf_token %}
            <div id="quiz-box"></div>
            <button type="submit" class="btn btn-primary" style="background: #2d71a1; background: linear-gradient(-45deg, #1391a5, #274685); color: #fff; box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);">Save</button>   
        </form>

        <div id="score-box"></div>
        <div id="result-box"></div>

      </div>
    </div>
</div>
</main><!-- End #main -->


<script src="{% static 'quiz/quiz.js' %}"></script>


{% endblock %}





