{% extends 'base_main.html' %}
{% load static %}
{% block content %}

 

  <main id="main">



  <!--========={ Popular Courses }========-->
  <section class="unlimited_possibilities" id="about_unlimited_possibilities">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>OUR SERVICES</h2>
                </div><!-- ends: .section-header -->
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                 <div class="single_item single_item_first">
                    <div class="icon_wrapper">
                        <i class="flaticon-student"></i>
                    </div>
                    <div class="accordion accordion-flush " id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                               <b> Appliance Repair Services</b>
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div style="text-align: left;" class="accordion-body"><b>1.	Comprehensive Washing Machine Repair, Installation, and Servicing</b> <br>
                                -Our expert technicians handle all aspects of washing machine care, from installation to routine maintenance and complex repairs
                     
                                <br>
                                <br>
                                
                                <b>2.	Comprehensive Drying Machine Repair, Installation, and Servicing</b><br>
                                - We provide top-notch services for drying machines, ensuring they operate efficiently and last longer
                                <br>
                                <br>
                                <b>3.	Comprehensive Dishwasher Repair, Installation, and Servicing</b><br>
                                -Trust our skilled team for all your dishwasher needs, from installation to thorough repair and maintenance services
                                <br>
                                <br>
                                <b>4.	Comprehensive Gas Stove Repair, Installation, and Servicing</b><br>
                                -Our professionals are equipped to manage gas stove installations, repairs, and regular servicing to ensure safety and functionality
                                <br>
                                <br>
                               <b> 5.	Repairing, installation and Maintenance of Microwaves</b><br>
                                -We offer specialized repair and maintenance services for all types of microwaves, ensuring they perform optimally
                                </p>  </div>
                          </div>
                        </div>
                    </div> 
                </div>
            </div>


            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="single_item single_item_center">
                    <div class="icon_wrapper">
                        <i class="flaticon-university"></i>
                    </div>
                   <div class="accordion accordion-flush " id="accordionFlushExample">
                       <div class="accordion-item">
                         <h2 class="accordion-header" id="flush-headingTwo">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <b>Residential Electrical Services</b>
                           </button>
                         </h2>
                         <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                           <div class="accordion-body"> 
                            <p style="text-align: justify;">
                              - Electrical System Inspections<br>
                              - Wiring and Rewiring<br>
                              - Circuit Breaker and Fuse Box Upgrades<br>
                              - Lighting Installation and Repair<br>
                              - Outlet and Switch Installation and Repair<br>
                              - Smart Home System Installation</p>                    
                                 </p>  </div>
                         </div>
                       </div>
                   </div> 
               </div>
           </div>


           <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="single_item single_item_last">
             <div class="icon_wrapper">
                <a href="{% url 'school' %}" title=""><i class="flaticon-diploma"></i></a>
                 </div>
               <div class="accordion accordion-flush " id="accordionFlushExample">
                   <div class="accordion-item">
                     <h2 class="accordion-header" id="flush-headingThree">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <b>Our Courses</b>
                       </button>
                     </h2>
                     <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                       <div style="text-align: justify;"class="accordion-body"><p><b>1.</b> Certificate in Microwave Troubleshooting and Repair<br>
                        <b>2.</b> Certificate in Washing Machine Troubleshooting and Repair<br>
                        <b>3.</b> Certificate in Drying Machine Troubleshooting and Repair<br>
                        <b>4.</b> Certificate in Dishwasher Troubleshooting and Repair<br>
                        <b>5.</b> Certificate in Gas stove Troubleshooting and Repair<br>
                        <b>6.</b> Certificate in Electrical Technology<br>
                        <b>7.</b> Certificate in Electrical Technology – TEVETA accredited Certificate<br>
                        <b>8.</b> Certificate in Engineering Project Management</p></p>  </div>
                     </div>
                   </div>
               </div> 
           </div>
       </div>  
        </div>
    </div>
</section><!-- End Popular Courses -->


  </main><!-- End #main -->

{% endblock %}