{% extends 'base_main.html' %}
{% load static %}
{% block content %}

  <main id="main">


    <section id="about-page" class="pt-70 pb-110">
      <div class="container">
          <div class="row">
              <div >
                <br>
                <br>
                  <div class="section-title mt-50"> 
                      <h2>Terms and Conditions </h2>
                  </div> <!-- section title -->
                  <div class="about-cont">
                      <p>Welcome to the Keres Engineering and Appliance Technology (KEAT) website. By accessing or using our website and services, you agree to comply with and be bound by the following terms and conditions. Please read them carefully.</p>
                  </div>
              </div> <!-- about cont -->
            
              
          </div> <!-- row -->
          <div class="about-items pt-60">
              <div class="row justify-content-center">
                  <div class="col-lg-6 col-md-6 col-sm-10">
                      <div class="about-singel-items mt-30">
                          <span>01</span>
                          <h4>Acceptance of Terms</h4>
                          <p><b>Personal Information:</b>
                            By using the KEAT website, you agree to these Terms and Conditions. If you do not agree with any part of these terms, please do not use our website.
                    
                      </div> <!-- about singel -->
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-10">
                      <div class="about-singel-items mt-30">
                          <span>02</span>
                          <h4>  Use of the Website</h4>
                          <p><b>Eligibility:</b>
                            
                            You must be at least 18 years old to use our website and services<br><br>
                            <b>License:</b>
                            KEAT grants you a limited, non-exclusive, non-transferable license to access and use our website for personal, non-commercial purposes. You may not use our website for any illegal or unauthorized purpose.
                          <br> <b>Prohibited Activities:</b>You agree not to engage in any activity that could harm or disrupt our website, including hacking, uploading malicious code, or using our website to distribute spam or malware. </p>
                      </div> <!-- about singel -->
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-10">
                      <div class="about-singel-items mt-30">
                          <span>03</span>
                          <h4>Services</h4>
                          <p> <b>Appliance Repair Services:</b> 
                            KEAT provides appliance repair services as described on our website. All services are subject to availability and may be modified or discontinued at any time.
                          <br> 
                        <b>CPD Courses: </b> KEAT offers Continuous Professional Development (CPD) courses in various engineering fields. Course availability, content, and fees are subject to change without notice.</p>
                      </div> <!-- about singel -->
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <span>04</span>
                        <h4>Payment</h4>
                        <p><b>Fees:</b>
                          You agree to pay all fees associated with the services and courses you request. Fees are non-refundable unless otherwise stated.
                          <br>
                         <b> Payment Methods:</p>
                    </div> <!-- about singel -->
                </div>

                <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="about-singel-items mt-30">
                      <span>05</span>
                      <h4>Intellectual Property</h4>
                      <p><b>Ownership:</b>
                        All content on the KEAT website, including text, graphics, logos, and images, is the property of KEAT and is protected by intellectual property laws.
                        KEAT accepts various payment methods, including mobile Money and Bank account transfers. All payments must be made in full before services or courses are provided unless otherwise negotiated.
                      <br> <b>Restrictions:</b>
                      You may not reproduce, distribute, or create derivative works from any content on our website without prior written permission from KEAT.</p>
                  </div> <!-- about singel -->
              </div>

              <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="about-singel-items mt-30">
                    <span>06</span>
                    <h4>Third-Party Links</h4>
                    <p>Our website may contain links to third-party websites. These websites have their own privacy policies, and we are not responsible for their content or practices. We encourage you to review the privacy policies of these third-party websites.</p>
                </div> <!-- about singel -->
            </div>

            <div class="col-lg-6 col-md-6 col-sm-10">
              <div class="about-singel-items mt-30">
                  <span>07</span>
                  <h4>Children’s Privacy</h4>
                  <p>Our services are not directed at individuals under the age of 18. We do not knowingly collect personal information from children. If we become aware that we have inadvertently received personal information from a child, we will delete such information from our records.</p>
              </div> <!-- about singel -->
          </div>

          <div class="col-lg-6 col-md-6 col-sm-10">
            <div class="about-singel-items mt-30">
                <span>08</span>
                <h4>Changes to This Privacy Policy</h4>
                <p>KEAT reserves the right to update this Privacy Policy at any time. We will notify you of any changes by posting the new Privacy Policy on our website. Your continued use of our services after such changes indicates your acceptance of the updated Privacy Policy.</p>
            </div> <!-- about singel -->
        </div>
              </div> <!-- row -->
          </div> <!-- about items -->
      </div> <!-- container -->
  </section>
  </main><!-- End #main -->

{% endblock %}